<section class="team-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40">
                <div class="section-title service-title">
                    <h2>Our Team</h2>
                    <p>We are an experienced team covering the entire spectrum of technologies and operations in the audiovisual media marketing and distribution sector. Our customers highly appreciate our passionate and responsive engagement. When working with us, you get the best people driving your business forward to the next level.</p>
                    <p><strong>Our team is your team too</strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/torsten-graf-oettel.png" alt="Torsten Graf-Oettel">
                    </div>
                    <div class="team-info">
                        <h3>Torsten Graf-Oettel</h3>
                        <span>Managing Director</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/holger-hendel.png" alt="Holger Hendel">
                    </div>
                    <div class="team-info">
                        <h3>Holger Hendel</h3>
                        <span>Chief Strategy Officer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/stefan-hauschildt.png" alt="Stefan Hauschildt">
                    </div>
                    <div class="team-info">
                        <h3>Stefan Hauschildt</h3>
                        <span>Chief Customer Officer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/johannes-gotzinger.png" alt="Johannes Götzinger">
                    </div>
                    <div class="team-info">
                        <h3>Johannes Götzinger</h3>
                        <span>Chief Technology Officer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/mick-alene.png" alt="Mick Alene">
                    </div>
                    <div class="team-info">
                        <h3>Mick Alene</h3>
                        <span>Business Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/aleksander-andreev.png" alt="Aleksander Andreev">
                    </div>
                    <div class="team-info">
                        <h3>Aleksander Andreev</h3>
                        <span>Senior Frontend Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/cipri-anita.png" alt="Cipri Anita">
                    </div>
                    <div class="team-info">
                        <h3>Cipri Anita</h3>
                        <span>Backend Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/polina-axenova.png" alt="Polina Axenova">
                    </div>
                    <div class="team-info">
                        <h3>Polina Axenova</h3>
                        <span>Senior Product Lead</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/alesia-beseda.png" alt="Alesia Beseda">
                    </div>
                    <div class="team-info">
                        <h3>Alesia Beseda</h3>
                        <span>Quality Assurance Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/oleg-bovykin.png" alt="Oleg Bovykin">
                    </div>
                    <div class="team-info">
                        <h3>Oleg Bovykin</h3>
                        <span>Senior Backend Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/flor-casella.png" alt="Flor Casella">
                    </div>
                    <div class="team-info">
                        <h3>Flor Casella</h3>
                        <span>Project Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/bozhidara-decheva.png" alt="Bozhidara Decheva">
                    </div>
                    <div class="team-info">
                        <h3>Bozhidara Decheva</h3>
                        <span>Project Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/souha-gaaloul.png" alt="Souha Gaaloul">
                    </div>
                    <div class="team-info">
                        <h3>Souha Gaaloul</h3>
                        <span>Frontend Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/louise-giraud.png" alt="Louise Giraud">
                    </div>
                    <div class="team-info">
                        <h3>Louise Giraud</h3>
                        <span>Junior Web Project Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/nikolay-grozev.png" alt="Nikolay Grozev">
                    </div>
                    <div class="team-info">
                        <h3>Nikolay Grozev</h3>
                        <span>Frontend Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  >
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/leila-hamdi.png" alt="Leila Hamdi">
                    </div>
                    <div class="team-info">
                        <h3>Leila Hamdi</h3>
                        <span>Marketing Coordinator</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/stefan-horning.png" alt="Stefan Horning">
                    </div>
                    <div class="team-info">
                        <h3>Stefan Horning</h3>
                        <span>DevOp</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/djabir-ilazi.png" alt="Djabir Ilazi">
                    </div>
                    <div class="team-info">
                        <h3>Djabir Ilazi</h3>
                        <span>Project Manager</span>
                    </div>
                </div>
            </div>            
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/marc-jeanson.png" alt="Marc Jeanson">
                    </div>
                    <div class="team-info">
                        <h3>Marc Jeanson</h3>
                        <span>Team Lead Backend</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/danail-kostov.png" alt="Danail Kostov">
                    </div>
                    <div class="team-info">
                        <h3>Danail Kostov</h3>
                        <span>Frontend Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/matthew-ling.png" alt="Matthew Ling">
                    </div>
                    <div class="team-info">
                        <h3>Matthew Ling</h3>
                        <span>Backend Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/ruslan-matveev.png" alt="Ruslan Matveev">
                    </div>
                    <div class="team-info">
                        <h3>Ruslan Matveev</h3>
                        <span>Frontend Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/katja-meinarte.png" alt="Katja Meinarte">
                    </div>
                    <div class="team-info">
                        <h3>Katja Meinarte</h3>
                        <span>Quality Assurance Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/arturs-meinarts.png" alt="Arturs Meinarts">
                    </div>
                    <div class="team-info">
                        <h3>Arturs Meinarts</h3>
                        <span>Backend Software Architect</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/edgars-meinarts.png" alt="Edgars Meinarts">
                    </div>
                    <div class="team-info">
                        <h3>Edgars Meinarts</h3>
                        <span>Backend Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/klaudiya-mileva.png" alt="Klaudiya Mileva">
                    </div>
                    <div class="team-info">
                        <h3>Klaudiya Mileva</h3>
                        <span>Frontend Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/abdallah-mostafa.png" alt="Abdallah Mostafa">
                    </div>
                    <div class="team-info">
                        <h3>Abdallah Mostafa</h3>
                        <span>Backend Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/beslinda-neziri.png" alt="Beslinda Neziri">
                    </div>
                    <div class="team-info">
                        <h3>Beslinda Neziri</h3>
                        <span>Senior Frontend Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/vullnet-neziri.png" alt="Vullnet Neziri">
                    </div>
                    <div class="team-info">
                        <h3>Vullnet Neziri</h3>
                        <span>Junior Frontend Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/aleksei-perov.png" alt="Aleksei Perov">
                    </div>
                    <div class="team-info">
                        <h3>Aleksei Perov</h3>
                        <span>Quality Assurance Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/silviu-pop.png" alt="Silviu Pop">
                    </div>
                    <div class="team-info">
                        <h3>Silviu Pop</h3>
                        <span>Backend Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/michael-prestage.png" alt="Michael Prestage">
                    </div>
                    <div class="team-info">
                        <h3>Michael Prestage</h3>
                        <span>Product & Business Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/ermira-rushani.png" alt="Ermira Rushani">
                    </div>
                    <div class="team-info">
                        <h3>Ermira Rushani</h3>
                        <span>Designer/Frontend Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/hamed-saidi.png" alt="Hamed Saidi">
                    </div>
                    <div class="team-info">
                        <h3>Hamed Saidi</h3>
                        <span>Senior Frontend Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/jose-sanchez.png" alt="Jose Sanchez">
                    </div>
                    <div class="team-info">
                        <h3>Jose Sanchez</h3>
                        <span>Business Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/yanko-shterev.png" alt="Yanko Shterev">
                    </div>
                    <div class="team-info">
                        <h3>Yanko Shterev</h3>
                        <span>Senior Frontend Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/giulia-torta.png" alt="Giulia Torta">
                    </div>
                    <div class="team-info">
                        <h3>Giulia Torta</h3>
                        <span>Senior Project Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/bogdan-ungureanu.png" alt="Bogdan Ungureanu">
                    </div>
                    <div class="team-info">
                        <h3>Bogdan Ungureanu</h3>
                        <span>Backend Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                <div class="single-team text-center "  data-wow-delay=".8s">
                    <div class="team-img">
                        <img src="{{site.baseurl}}/assets/img/team/xenia-zhukova.png" alt="Xenia Zhukova">
                    </div>
                    <div class="team-info">
                        <h3>Xenia Zhukova</h3>
                        <span>Product Owner</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>